extends ../layouts/basic

block content
	#content: .container
		h1.title Dashboard
		hr
		p.subtitle Tournaments
		a.button.is-primary.toggles-modal(href='#' data-target='#new-tournament-modal')
			span.icon: i.fa.fa-plus
			span New Tournament

		if (tournaments)
			.columns.is-multiline
				each tournament in tournaments
					.column.is-one-third: .card
						.card-content
							.content
								h1.title.is-size-3= tournament.name
								p.subtitle.is-size-6= tournament.date.toDateString() + ' @ ' + tournament.city + ', ' + tournament.state
								p Proctor registration code:
									pre= tournament.joinCode

						footer.card-footer
							a.card-footer-item(href='#') Manage
							a.card-footer-item(href='/tournaments/delete/' + tournament._id) Delete

		include partials/_tournament-modal

block scripts
	script.
		const togglesModal = document.querySelectorAll('.toggles-modal')

		togglesModal.forEach((el) => {
			el.onclick = () => {
				document.querySelector(el.dataset.target).classList.toggle('is-active')
			}
		})