if (Object.keys(messages).length > 0)
	#messages.ui.container
		if (messages.error)
			.ui.message.negative.floating
				i.close.icon
				p= messages.error
		else if (messages.success)
			.ui.message.success.floating
				i.close.icon
				p= messages.success
		else if (messages.info)
			.ui.message.info.floating
				i.close.icon
				p= messages.info