if (Object.keys(messages).length > 0)
	#messages.container
		if (messages.error)
			article.message.is-danger
				.message-body= messages.error
		else if (messages.success)
			article.message.is-success
				.message-body= messages.success
		else if (messages.info)
			article.message.is-info
				.message-body= messages.info