nav.ui.menu.top.fixed.inverted
	a.item(href='/')
		| Scribe
	.right.menu
		if (!user)
			a.item(href='/users/login') Log In
			a.item(href='/users/register') Register
		else
			a.item(href='/admin/dashboard') Dashboard
			a.item(href='/users/me') Profile
			a.item(href='/users/logout') Logout
