nav.navbar.is-fixed-top(role='navigation', aria-label='main navigation')
	.navbar-brand
		a.navbar-item.has-text-weight-bold(href='/') Scribe
		button.button.navbar-burger
			span
			span
			span
	.navbar-menu
		.navbar-end
			a.navbar-item(href='/login') Login
			a.navbar-item Register
