nav.navbar.is-fixed-top(role='navigation', aria-label='main navigation')
	.navbar-brand
		a.navbar-item.has-text-weight-bold(href='/') Scribe
		button.button.navbar-burger
			span
			span
			span
	.navbar-menu
		.navbar-end
			if (!user)
				a.navbar-item(href='/users/login') Login
				a.navbar-item(href='/users/register') Register
			else
				a.navbar-item(href='/users/me') Profile
				a.navbar-item(href='#') Manage Tournaments
