{
	"presets": [["@babel/preset-env"]],
	"plugins": [
		[
			"@babel/plugin-transform-runtime",
			{
				"helpers": false,
				"polyfill": false,
				"regenerator": true,
				"moduleName": "babel-runtime"
			}
		]
	],
	"env": {
		"test": {
			"presets": [["@babel/preset-env"]]
		},
		"debug": {
			"sourceMap": "inline",
			"retainLines": true
		}
	}
}
