extends layouts/basic

block content
    #content: #hero.ui.vertical.center.aligned.segment
        h1.ui.header Welcome to #{title},
            .sub.header an open-source scorekeeping system for Science Olympiad tournaments.
        .ui.hidden.divider
        a.ui.button.primary Learn More
