extends ../layouts/basic

block content
	#content: .container-sm
		h1.title.has-text-centered Register

		form.ui.form(action='/users/register' method='post')
			.field
				label Full Name
				input(type='text', name='name' required)

			.field
				label Email
				input(type='text', name='email' required)
			.field
				label Password
				input(type='password', name='password' required)

			.field
				label Tournament Code
				input(type='text', name='tournamentCode' required)

			if (message)
				p.help.is-danger= message
				br
			
			.field
				button.ui.button.primary(type='submit') Submit
