/*----------  Import variables  ----------*/

@import 'partials/vars'

/*----------  Custom styles  ----------*/

@import 'partials/helpers'

// Push content below navbar
#content
	padding-top: $navbar-height + 2rem

// Set messages above content
#messages
	padding-top: $navbar-height + 2rem
	z-index: 100
	position: fixed
	left: 50%
	transform: translateX(-50%)
	bottom: 5%

#hero
	height: 80vh
	display: flex
	align-items: center
	flex-direction: column
	justify-content: center

nav
	height: $navbar-height