extends ../layouts/basic

block content
	#content: .container-sm.has-text-centered
		h1.title Delete Tournament
		p You are about to delete "#{tournament.name}" and all associated data. This cannot be undone. Proceed?
		br
		form.ui.form(action='/tournaments/delete/' + tournament._id method='POST')
			.field
				button.ui.button.red(type='submit') Delete
				a.ui.button(href='/admin/dashboard') Cancel