extends ../layouts/basic

block content
	.container-sm
		h1.title Delete Tournament
		p You are about to delete "#{tournament.name}". This cannot be undone. Proceed?
		br
		form(action='/tournaments/delete/' + tournament._id method='POST')
			button.button.is-danger(type='submit') Delete
			a.button(href='/admin/dashboard') Cancel