extends ../layouts/basic

block content
	#content: .ui.container
		h1.ui.header= scoresheetEntry.event.name
			.sub.header= scoresheetEntry.tournament.name
		table.ui.celled.padded.table
			thead
				tr
					th Team Number
					th School
					th Raw Score
					th Tier
					th NS
					th PP
			tbody
				each score in scoresheetEntry.scores
					pre= score
				tr
					td
						div a
					td.single.line
						| Power Output
					td
						.ui.star.rating(data-rating='3', data-max-rating='3')
					td.right.aligned
						| 80% 
						br
						a(href='#') 18 studies
					td
						| Creatine supplementation is the reference compound for increasing muscular creatine levels; there is variability in this increase, however, with some nonresponders.
					td
				tr
					td
						h2.ui.center.aligned.header A
					td.single.line
						| Weight
					td
						.ui.star.rating(data-rating='3', data-max-rating='3')
					td.right.aligned
						| 100% 
						br
						a(href='#') 65 studies
					td
						| Creatine is the reference compound for power improvement, with numbers from one meta-analysis to assess potency
					td

block scripts
	script.
		const scoresheetEntry = !{JSON.stringify(scoresheetEntry)}
