extends ../layouts/slideshow

block content
    #slides-logo(style='position: absolute; bottom: 0; margin: 30px;')
        img(src='/images/UTIG-logo.png')
    .reveal: .slides
            each entry in topTeamsPerEvent
                section
                    strong= entry.event.name + ' ' + entry.division
                    each score, i in entry.scores
                        p.fragment(data-fragment-index=(entry.scores.length-i-1))= (i+1) + '. ' + score.team.division + score.team.teamNumber + ' (' + score.team.school + ')'
            section
                strong Sweepstakes B - 3rd place
                p.fragment(data-fragment-index=1) AAH
            section
                strong Sweepstakes C - 3rd place
                p.fragment(data-fragment-index=1) AAH
            section
                strong Sweepstakes B - 2nd place
                p.fragment(data-fragment-index=1) Kealing Middle School
            section
                strong Sweepstakes C - 2nd place
                p.fragment(data-fragment-index=1) Obra D. Tompkins High School
            section
                strong Sweepstakes B - 1st place
                p.fragment(data-fragment-index=1) Beckendorff Junior High
            section
                strong Sweepstakes C - 1st place
                p.fragment(data-fragment-index=1) Seven Lakes High School
            section
                strong Results online at atxscioly.com
                p Thanks for coming!

