doctype html
html
    header
        meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Results
        link(rel='stylesheet' href='/reveal.js-3.6.0/css/reveal.css')
        link(rel='stylesheet' href='/reveal.js-3.6.0/css/theme/white.css')
    body
        block content
    footer
        script(src='/reveal.js-3.6.0/js/reveal.js')
        script.
            Reveal.initialize()